@model WebApplication0523mvc.Models.PurchaseOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>确认删除</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isClosed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" value="返回" onclick="location.href='@Url.Action("Index")'" class="btn btn-default" />
            <input type="submit" value="确认删除" class="btn btn-default" />
        </div>
    }
</div>
