@model WebApplication0523mvc.Models.Payment


@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>转账方式</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankAccount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="确认修改" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    <input type="button" value="返回" onclick="location.href='@Url.Action("Index")'" class="btn btn-default" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}